# Custom per project
_extra/
_archive/
dist/

# OS or Editor folders
.DS_Store
.AppleDouble
.LSOverride
._*
.cache
.project
.settings
.tags
.tmproj
nbproject
tags
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp

# IDE specific
sftp-config.json
*.sublime-workspace
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
.target
.texlipse
chrome-user-data
.idea
*.iml
.vscode

# NPM, Bower, Grunt, Gulp, Logs, etc.
node_modules/
bower_components/
sandbox
test/out-fixtures/*
test/watch-*.txt
gulp.1
*.pyc
.grunt
_SpecRunner.html
__benchmarks__
logs
*.log
npm-debug.log*
pids
*.pid
*.seed
lib-cov
.nyc_output
.lock-wscript
jspm_packages
.npm
.node_repl_history

# DotEnv
.env

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
